<% if flash[:errors] %>
      <ul>
        <% flash[:errors].each do |error| %>
          <li style="color:red;"><%= error %></li>
        <% end %>
      </ul>
  <% end %>
<%= form_with(model: @event, local:true) do |form| %>
    <%= form.label :name,"Event Name", style: "display: block"%>
    <%= form.text_field :name %>
  
   
    <%= form.label :description,"Event description", style: "display: block" %>
    <%= form.text_field :description %>
  
  
    <%= form.label :event_date,"Date", style: "display: block" %>
    <%= form.date_field :event_date%>

    <%= form.label :category_id ,style: "display: block"%><br>
    <%= form.select :category_id, Category.all.map { |t| [t.c_name, t.id] } %>
    
    <%= form.submit%>
<%end%>
